.forecast {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.day {
  display: inline-block;
  max-width: 300px;

  margin: 0 5px 8px 5px;
  padding: 23px;

  text-align: left;
  font-size: 1.2em;

  border: 1px solid #e0e0e0;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.day__date {
  font-size: 0.7em;
  width: 33%;
  float: left;
  padding-top: 0.3em;
  color: green;
}

.day__description {
  width: 67%;
  float: left;
  margin-bottom: 15px;
  text-align: right;
  color: #516b78;
}

.day__icon {
  width: 40%;
  float: left;
  margin-bottom: 15px;
}

.day__temp-avg {
  width: 60%;
  float: left;
  margin-bottom: 15px;
  text-align: right;
  color: darkcyan;
  font-size: 1.6em;
}

.day__item-key {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  color: #767676;
}

.day__item-val {
  display: block;
  float: right;
  color: #516b78;
  text-align: right;
}
