.forecast {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.day {
  display: inline-block;
  box-sizing: border-box;

  width: 90%;

  margin-bottom: 8px;
  padding: 23px;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  font-size: 16px;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

._day__date {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

._day__date-full {
  float: left;
  color: #767676;
  font-size: 12px;
}

._day__date-day {
  float: right;
  color: green;
}

._day__icon {
  width: 100px;
  margin: 0 auto;
}

._day__img {
  width: 100%;
  height: auto;
}

._day__temp-avg {
  color: darkcyan;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}

._day__description {
  color: #516b78;
  margin-bottom: 20px;
  line-height: 18px;
}

.day__item-key {
  color: #767676;
  margin-bottom: 5px;
}

.day__item-val {
  color: #516b78;
  margin-bottom: 10px;
}

@media screen and (min-width: 315px) {
  ._day__icon {
    float: left;
    margin-right: 20px;
  }

  ._day__temp-avg {
    text-align: right;
  }

  ._day__description {
    text-align: right;
  }

  .day__item {
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-bottom: 5px;
  }

  .day__item-key {
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .day__item-val {
    float: right;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 365px) {
  .day {
    width: 316px;

    margin-right: 5px;
    margin-left: 5px;
  }
}
