.search-form {
  display: flex;
  margin-bottom: 25px;
}

.search-form__city {
  border: none;
  padding: 1em 0% 1em 2%;
  flex-grow: 1;
  border-radius: 4px;
}

.search-form__city:focus {
  outline: 0;
}

.search__btn-submit {
  border: none;
  color: #ffffff;
  padding: 1em 4em;
  margin-bottom: 25px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  background-color: #15c26b;

  &:hover,
  &:focus {
    outline: 0;
    background-color: #3980ad;
  }
}
